// colors
$main-color: #2c2640;
$light-color: #f4f4f4;
$dark-gray-color: #444;
$gray-color: #96a9c7;
$light-gray-color: #888;
$dark-color: #37373b;

// website width
$website-width: 1280px;

// transition
$transition-speed: 0.5s;
